<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ blog_name }}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

</head>

{% include 'nav.html.j2' %}

{% include 'head.html.j2' %}

{% block msg %}{% endblock %}

{% block content %}{% endblock %}

{% include 'footer.html.j2' %}